<h3>
  <font color="#33ccff">
    <% if flash.has?(:notice) %>
      <%= flash[:notice] %>
    <% end %>
  </font>
</h3>

<br>

<label>Username:</label>
<%= @current_user.username %>

<label>E-mail:</label>
<%= @current_user.email %>