<h3>
  <font color="#33ccff">
    <% if flash.has?(:message) %>
      <a href="/signup"><%= flash[:message] %></a>
    <% end %>
  </font>
</h3>

<br>

<label>Username:</label>
<%= @current_user.username %>

<label>E-mail:</label>
<%= @current_user.email %>