<h2>Please fill the form to log in:</h2>
<br><br>

<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username"name="user[username]" required>
  <label for="password">Password:</label>
  <input type="password" id="password"name="user[password]" required>
  
  <br><br>

  <input class="btn btn-primary" type="submit" value="Log in">
</form>