<% content_for :title, "- Sign Up" %>

<div style="margin-bottom: 100px;" class="signup">
  <h3>Please fill the form:</h3>
  
  <form class="signup-form" action="/signup" method="POST">
    <ul>
      <li>
        <label for="username">Username:</label>
        <input type="text" id="username"name="user[username]" required>
      </li>
      <li>
        <label for="email">E-mail:</label>
        <input type="text" id="email" name="user[email]" required>
      </li>
      <li>
        <label for="password">Password:</label>
        <input type="password" id="password"name="user[password]" required>
      </li>
    </ul>
  
    <br>
  
    <input style="padding: 3px;" type="submit" value="Create">
  </form>
</div>