<h3>
  <font color="#33ccff">
    <% if flash.has?(:notice) %>
      <%= flash[:notice] %>
    <% end %>
  </font>
</h3>

Please fill the form:

<br><br>

<form action="/signup" method="POST">
  <label for="username">Username:</label>
  <input type="text" name="username" required>
  <label for="email">E-mail:</label>
  <input type="text" name="email" required>
  <label for="password">Password:</label>
  <input type="password" name="password" required>
  
  <br><br>

  <input class="btn btn-primary" type="submit" value="Submit">
</form>