<h2>Please fill the form:</h2>
<br><br>

<form action="/signup" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username"name="user[username]" required>
  <label for="email">E-mail:</label>
  <input type="text" id="email" name="user[email]" required>
  <label for="password">Password:</label>
  <input type="password" id="password"name="user[password]" required>
  
  <br><br>

  <input class="btn btn-primary" type="submit" value="Submit">
</form>