<div style="margin-bottom: 100px;">
  <h4>This app is an online travel website that users can visit to find reviews for attractions/points of interest in any of their favorite locations. The app enables users to sign up/log in. Once in, they have the ability to add attractions and leave reviews for others to see as well. A user can create, edit, and delete their own resources.</h4>
</div>

