<h2>Please choose an action:</h2>
<br><br>

<a href="/signup"><input type="submit" value="Sign Up"/></a>
<a href="/login"><input type="submit" value="Log In"/></a>
<a href="/visitor"><input type="submit" value="Visit"/></a>
<br>
