<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Traveler</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    
  </head>
  <body>
    <div class="wrapper">
        <div class="topnav">
          <% if logged_in? %>
          <a href="/logout">Sign Out</a>
          <a href="/accounts/<%= current_user.slug %>">Home</a>
          <% else %>
          <a href="/">Home</a>
          <% end %>
          <a href="/locations">Locations</a>
          <a href="/attractions">Attractions</a>
          <a href="/about">About</a>
        </div>
        <br><br>
    
      <h3 style="color:#33ccff;">
        <% if flash.has?(:notice) %>
          <%= flash[:notice] %>
        <% end %>
      </h3>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Traveler</strong></small>
      </footer>
    </div>

    <!script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></!script>
    <!--[if lt IE 7]>
      <!script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></!script>
      <!script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</!script>
    <![endif]-->
  </body>
</html>
