<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Traveler</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <nav>
          <ul class="mynav">
            <% if logged_in? %>
              <li><a href="/logout">SIGN OUT</a></li>
              <li><a href="/accounts/<%= current_user.slug %>">HOME</a></li>
            <% else %>
              <li><a href="/login">HOME</a></li>
            <% end %>
            <li><a href="/locations">LOCATIONS</a></li>
            <li><a href="/attractions">ATTRACTIONS</a></li>
            <li><a href="/about">ABOUT</a></li>
          </ul>
        </nav>
      </header>

      <div id="flash-notice">
        <h3 style="color:#33ccff;">
          <% if flash.has?(:notice) %>
            <%= flash[:notice] %>
          <% end %>
        </h3>
      </div>
      
        <%= yield %>

      <div style="border-top: 2px solid #ccc;
                  margin-top: 20px;
                  padding: 20px;
                  position: absolute;
                  bottom: 0;
                  width: 15%;"
                  id="branding">
        <small>&copy; 2021 <strong>Traveler</strong></small>
      </div>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="javascripts/custom.js" type="text/javascript"></script>
  </body>
</html>
