<h1>Checkout our amazing locations:</h1>

<br>
<% if logged_in? %>
  <a href="/locations/new"><input type="submit" value="Add location"></a>
<% end %>
<br><br>

<ul>
  <% @locations.each do |location| %>
    <a href="/locations/<%= location.slug %>"><img 
        src="<%= location.img_url %>" 
        style="width: 550px; height: 350px;"
      /></a>
    <br><br>
  <%end%>
</ul>