<% content_for :title, "- New Location" %>

<div style="margin-bottom: 100px;">
  <h2><%=@current_user.username%>, here you can create a new location:</h2>
  
  <br><br>
  
  <form action="/locations" method="POST" id="create_location">
    <h3>Name: <input style="margin-left: 50px;" type="text" name="location[name]" id="location_name" required></h3>
    <h3>Description: <input type="text" name="location[description]" id="location_description" required></h3>
    <h3>Image url: <input style="margin-left: 18px;" type="text" name="location[img_url]" id="location_img_url"></h3>
    <br><br>
  
  </form>
  
  <input style="padding: 3px;" form="create_location" type="submit" value="Create">
  <a href="/locations"><input style="padding: 3px;" type="submit" value="Cancel"></a>
</div>