<% content_for :title, "- Attractions" %>

<div style="text-align: center; margin-bottom: 100px;" class="attractions">
  <h1>Checkout our amazing attractions:</h1>
  
  <br>
  <% if logged_in? %>
    <a href="/attractions/new"><input style="padding: 3px;" type="submit" value="Add attraction"></a>
  <% end %>
  <br><br>
  
  <ul>
    <% @attractions.each do |attraction| %>
      <a href="/attractions/<%= attraction.slug %>"><img
          src="<%= attraction.img_url %>"
          style="width: 550px; height: 350px;"
        /></a>
      <br>
  
      <h3><%= attraction.name %>, <%= attraction.location.name %></h3>
      <br><br>
    <% end %>
  </ul>
</div>