<h3>
  <font color="#33ccff">
    <% if flash.has?(:notice) %>
      <%= flash[:notice] %>
    <% end %>
  </font>
</h3>

Checkout our amazing attractions:

<ul>
  <%@attractions.each do |attraction|%>
    <a href="/attractions/<%attraction.slug%>"><%=attraction.name%></a>
  <%end%>
</ul>