<br><br>

<h2><%=@current_user.username%>, here you can create a new attraction:</h2>

<br><br>

<form action="/attractions" method="POST">
  <h3>Name: <input type="text" name="attraction[name]" id="attraction_name" required></h3>
  <h3>Description: <input type="text" name="attraction[description]" id="attraction_description" required></h3>
  <h3>Image url: <input type="text" name="attraction[img_url]" id="attraction_img_url"></h3>
  <br><br>

  <input type="submit" value="Create">
</form>
