<h3>
  <font color="#33ccff">
    <% if flash.has?(:notice) %>
      <%= flash[:notice] %>
    <% end %>
  </font>
</h3>

<h3><%=@attraction.name%></h3>

<br><br>

<%=@attraction.description%>

<br><br>

<%if !!@attraction && @attraction.user == @current_user%>
  <a href="/attractions/<%=@attraction.slug%>/edit"><input type="submit" value="Edit"/></a>
<%end%>